/*Aside.css */

.sidebar {
    list-style-type: none;
    /* margin: 80px 0 0; */
    padding: 0;
    width: 300px;
    background-color: #2d3748;
    color: #cbd5e0;
  }

  .sidebar li a {
    display: block;
    color: #cbd5e0;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* color change on hover */
   .sidebar li a:hover {
    background-color: #6bd3efb5;
    color: #fff;
  } 
  
  .aside {
    background-color: #2d3748;
    width: 300px;
    padding: 8px;
    margin-left: 10px;
    border-radius: 4px;
    padding-top: 18px;
    height: 360px;
  } 


  .aside button {
    border-radius: 5px;
    background-color: #9bb1d7;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 11%;
    transition: background-color 0.2s, color 0.2s
  }

  .aside button:hover {
    background-color: #6bd3efb5;
    color: #fff;
  }

  .cohort-list-item{
    margin-left: 10%;
    width: 205px;
  }