*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto;
  background: #fcfbfb;
  padding-top: 40px;
  width:100vw
}

#about{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

h4{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}